.Toolbar {
  width: 100%;
  height: calc(var(--icon-height) + var(--icon-padding) * 2 + 10px);
  padding: var(--icon-spacing);
  background-color: var(--background-color-dark);
  position: absolute;
  bottom: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--border-color-dark);
  box-shadow: 0 -10px 10px -5px var(--shadow-color);
}

.Toolbar .Toolbar-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--icon-spacing);
}

.Toolbar .Toolbar-icon-container svg {
  width: var(--icon-width);
  height: var(--icon-height);
}
