.CharacterSheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-light);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: min(100%, 400px);
}

.CharacterSheet-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CharacterSheet-thumbnail {
  width: min(100px, 20vw);
  height: min(100px, 20vw);
  border-radius: 50%;
  /* object-fit: cover; */
}

.CharacterSheet-name {
  margin: 0;
  font-size: 1.5em;
  color: var(--text-color-dark);
}

.CharacterSheet-attributes {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.CharacterSheet-attributes p {
  margin: 5px 0;
  font-size: 1.1em;
  color: var(--text-color-dark);
}

.CharacterSheet-details {
  width: 100%;
  text-align: left;
}
