.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.HomePage-content {
  height: 100%;
  width: min(100%, var(--content-width));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--item-spacing);
  gap: var(--item-spacing);
}

.HomePage-content h1 {
  font-size: 2.0rem;
  color: var(--text-color-light);
  margin: 0;
}

.HomePage-content p {
  font-size: 1rem;
  color: var(--text-color-dark);
  margin: 0;
}

.HomePage-content button {
  width: 5rem;
  font-size: 1rem;
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
  border: 1px solid #8800ff;
  border-radius: var(--border-radius);
  margin-top: var(--item-spacing);
  padding: var(--item-spacing);
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.HomePage-content button:hover {
  background-color: #8800ff;
  color: white;
}